<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="SourceQuery" value="abc"/>
    <add key="DestinationQuery" value="abc"/>
  </appSettings>
  <connectionStrings>
    <add name="SourceCS" connectionString="abcd"/>
    <add name="DestinationCS" connectionString="abcde"/>

  </connectionStrings>
</configuration>